<div class="stage-container">
  <div class="stage-marker">
    <div class="stage-number-container">
      <span class="stage-number">4</span>
    </div>
    <span class="stage-title">Select Expire Time</span>
  </div>
  <% if session[:stage] == 4 %>
    <div class="stage-body">
      <div class="stage-gutter"></div>
      <div class="stage-contents">
        <%= render partial: 'stage_errors', locals: { errors: flash[:stage_4] } %>
        <strong>Expiration Date:</strong><br/>
        <%= form_tag expiry_path do %>
          <%= text_field_tag :expiry, @default_expiry %><br/>
          YYYY-MM-DD HH:MM:SS format.<br/>
          Leave blank for no expiration date.<br/>
          <%= submit_tag 'Finish' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
