@import 'reset';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$anet-red: #e1261c;

body {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Roboto', sans-serif;
}

.page-container {
  margin: 50px auto auto;
  width: 320px;
}

.page-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5rem;
  .page-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .page-description {
    margin-bottom: 1rem;
  }
}

.stage-container {
  position: relative;
  width: 100%;
  .stage-marker {
    height: 35px;
    margin: 10px 0;
    position: relative;
    .stage-number-container {
      border: 1px solid #888;
      border-radius: 50%;
      display: inline-block;
      height: 35px;
      position: relative;
      text-align: center;
      width: 35px;
      .stage-number {
        font-size: 1.25rem;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        vertical-align: middle;
      }
    }
    .stage-title {
      font-size: 1.1rem;
      font-weight: bold;
      margin-left: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .stage-body {
    .stage-gutter {
      border-left: 2px solid #666;
      display: none; /* @TODO */
      left: 17px;
      position: absolute;
      height: 100%;
    }
    .stage-contents {
      margin-left: 45px;
      .stage-description {
        margin-bottom: 10px;
      }
    }
  }
  input[type=text] {
    border: 1px solid #666;
    border-radius: 5px;
    display: block;
    height: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 3px 5px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  input[type=submit] {
    background-color: $anet-red;
    border: 2px solid darken($anet-red, 0.5);
    border-radius: 3px;
    color: #eee;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.5rem 0.75rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.collapsible-container {
  .collapsible-toggler {
    display: none;
  }
  .collapsible-toggler-label {
    display: block;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.25s ease-out;
    &::before {
      content: ' ';
      display: inline-block;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid currentColor;

      vertical-align: middle;
      margin-right: 0.7rem;
      transform: translateY(-2px);

      transition: transform 0.2s ease-out;
    }
  }
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;

    transition: max-height 0.25s ease-in-out;
  }
}

.collapsible-toggler:checked ~ .collapsible-content {
  max-height: 1000px;
}

.collapsible-toggler:checked + .collapsible-toggler-label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &::before {
    transform: rotate(90deg) translateX(-3px);
  }
}

.all-endpoints-enabler:checked ~ .endpoint-group {
  display: none;
}

.stage-errors {
  background-color: rgba(255, 0, 0, 0.15);
  border: 2px solid rgba(255, 0, 0, 0.35);
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 80%;
}
